body {
    background: var(--Very-Light-Gray);
    padding: 7rem 4rem;
}

/* HEADER */
body header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-bottom: 4rem;
}

/* h1 */
body header h1 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--Grayish-Blue);
}

/* b */
body header h1 b {
    font-size: 2rem;
    margin-top: 0.5rem;
    display: block;

    color: var( --Very-Dark-Blue);
}

/* P */
body header p {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--Grayish-Blue);
}

/* MAIN */
body main .component  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}

/* COL */
body main .component .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    max-width: 37rem;
    height: 25rem;

    padding: 2rem;
    border-radius: 1rem;
    border-top: 0.5rem solid var(--Red);
    box-shadow: 0rem 0rem 2rem 2px hsla(0, 0%, 0%, 10%);

    background: var(--Very-Light-Gray);
    
}

/* text */
body main .component  .col .text h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Very-Dark-Blue);
    margin-bottom: 0.5rem;
}

body main .component  .col .text p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--Grayish-Blue);
}

/* img */
body main .component  .col .image-wrapper {
    display: flex;
    justify-content: end;
}

body main .component  .col .image-wrapper img{
    max-width: 6.4rem;
}

body main .component  .col-2 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

